@import '_globals.scss';

footer {
    @include centeredGrid;
    background-color: $navy;
    height: 40px;
    width: 100%;
    margin-top: 20px;
   box-shadow: 0px -2px 5px $green;
   
 
    p {
        font-size: 12px;
        color: $cream;
    }
}