* {
    margin: 0;
    padding: 0;
}

$cream: #ffede1;
$green: #a0b7a4;
$white: #fdf5ed;
$red: #e2866d;
$navy: #1e2744;
$boxShadow: rgb(207, 194, 177);


@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Open+Sans&display=swap');

body {
    font-family: 'Belleza', sans-serif;
    background-color: $cream;
    color: $navy;
}

a {
    color: $navy;
    
}

@mixin centeredGrid {
    display: grid;
    justify-items: center;
    align-items: center;
}

