* {
    margin: 0;
    padding: 0;
}

$cream: #ffede1;

$white: #fdf5ed;
$green: #a0b7a4;
$red: #e2866d;

$navy: #1e2744;
$boxShadow: rgb(207, 194, 177);


@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Open+Sans&display=swap');

body {
    font-family: 'Belleza', sans-serif;
    background-color: $cream;
    
}

h1,h2,h3,h4 {
    font-family: 'Open Sans', 'sans-serif' ;
    color: $navy;
}

a,p {
    color: $navy;
    
}

@mixin centeredGrid {
    display: grid;
    justify-items: center;
    align-items: center;
}



.citation {
        position: absolute;
        right: 20px;
        font-size: 8px;
        font-family: 'open-sans', 'sans-serif';
    a {
        font-weight: bolder;
        text-decoration: none;
    }
    }

    @media only screen and (min-width: 600px) {
        .citation {
            font-size: 12px;
        }
    }
