@import "_globals.scss";

.headerGrid {
    @include centeredGrid;
    grid-template-columns: 1fr 1fr 1fr;
}

#mobile-hamburger-menu {
    margin: -70px -40px 0px 0px;
    #mobile-menu-checkbox {
        width: 50px;
        height: 50px;
        position: absolute;
        opacity: 0;
        z-index: 5;
    }

    #mobile-menu-checkbox:checked ~ #mobile-header-menu {
        top: 0;
        opacity: 1;
        transition: all 0.5s ease-in-out;
    }

    

    #mobile-hamburger-container {
        @include centeredGrid;
        width: 50px;
        height: 50px;
        z-index: 4;
        position: relative;

        .mobile-hamburger-line {
            width: 40px;
            height: 4px;
            background-color: $navy;
            opacity: 0.8;
        }
    }

    #mobile-header-menu {
        transition: all 0.5s ease-in-out;
        position: absolute;
        width: 70vw;
        height: 100vh;
        padding-top: 20px;
        background-color: $green;
        top: -130vh;
        opacity: 1;
        right: 0;
        z-index: 11;
        min-height: 500px;
        // padding: 20px;
        nav {
            display: grid;

            a {
                margin: 2vh 20px;
                color: $cream;
                text-decoration: none;
                font-size: 18px;
            }
            .foodMenuNavIndented {
                font-size: 12px;
                margin: 10px 0px 0px 50px;
            }
        }
    }
}

.headerLogo {
    margin: 30px 0;
    img {
        width: 70vw;
    }
}
.MobileContactPhone {
    @include centeredGrid;
    grid-template-columns: 1fr 2fr;
    position: absolute;
    right: -5px;
    top: 10px;
    width: 120px;
    height: 30px;
    background-color: $cream;
    box-shadow: -5px 0px 10px $boxShadow;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    padding-right: 10px;
    position: fixed;
    z-index: 10;
    a {
        font-size: 12px;
        margin-right: 5px;
        color: $red;
    }
    img {
        width: 20px;
    }
}

.banner {
    img {
        width: 100vw;
        opacity: 70%;
        z-index: -5;
    }
}
.pageContainer {
    @include centeredGrid;
}

@media only screen and (min-width: 600px) {
    .MobileContactPhone {
        width: 230px;
        height: 50px;
        top: 20px;
        img {
            width: 40px;
        }
        a {
            font-size: 24px;
            pointer-events: none;
            text-decoration: none;
        }
    }

.headerLogo {
    // margin-right: -300px;
    img {
        width: 40vw;
    }
}
#mobile-hamburger-menu {
  
    #mobile-menu-checkbox {
        width: 80px;
        height: 80px;
      
    }
    #mobile-hamburger-container {
       
        width: 80px;
        height: 80px;
    

        .mobile-hamburger-line {
            width: 60px;
            height: 6px;
        
        }
    }
    #mobile-header-menu {
        
        nav {
            display: grid;
            padding-left: 40px;

            a {
                font-size: 24px;
            }
            .foodMenuNavIndented {
                font-size: 18px;
                margin: 10px 0px 0px 60px;
            }
        }
    }
}


}
