@import "_globals.scss";

.hoursMenu {
    width: 70%;
    padding: 5%;
    margin: 20px 0;
    background-color: $navy;
    color: $cream;
    @include centeredGrid;

    h3 {
        font-size: 24px;
        margin-bottom: 0px; 
        color: $cream;
    }
  
   hr {      
       width: 70%;
        color: $white;
        margin: 15px 0;
    }
    a {
        color: $cream;
        font-size:20px;
        text-decoration: none;
        text-align: center;
        &:hover {
            color: $red;
        }
        &:active {
            color: $red;
        }
    }
    .hoursTimesGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    
        .dayOfTheWeek {   
            justify-self: left;
            p {
                margin: 10px 0;
                font-size: 12px;
                color: $cream;
            }
        }
            .timesOpen {
                justify-self: right;
                p {
                    margin: 10px 0;
                    font-size: 12px;
                    color: $cream;
               
                }
            }
    }
}

@media only screen and (min-width: 600px) {
    .hoursMenu {
        margin: 40px 0;
        h3 {
            font-size: 36px;
        }
        a {
            font-size: 24px;
        }
    }
    .hoursTimesGrid {
        font-size: 20px;
    }
}