@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Belleza', sans-serif;
  background-color: #ffede1;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', 'sans-serif';
  color: #1e2744;
}

a, p {
  color: #1e2744;
}

.citation {
  position: absolute;
  right: 20px;
  font-size: 8px;
  font-family: 'open-sans', 'sans-serif';
}

.citation a {
  font-weight: bolder;
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  .citation {
    font-size: 12px;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Belleza', sans-serif;
  background-color: #ffede1;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', 'sans-serif';
  color: #1e2744;
}

a, p {
  color: #1e2744;
}

.citation {
  position: absolute;
  right: 20px;
  font-size: 8px;
  font-family: 'open-sans', 'sans-serif';
}

.citation a {
  font-weight: bolder;
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  .citation {
    font-size: 12px;
  }
}

.headerGrid {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.desktopNav {
  display: none;
}

.colourfulMargin {
  display: none;
}

#mobile-hamburger-menu {
  margin: -70px -40px 0px 0px;
}

#mobile-hamburger-menu #mobile-menu-checkbox {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
  z-index: 5;
}

#mobile-hamburger-menu #mobile-menu-checkbox:checked ~ #mobile-header-menu {
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#mobile-hamburger-menu #mobile-hamburger-container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  z-index: 4;
  position: relative;
}

#mobile-hamburger-menu #mobile-hamburger-container .mobile-hamburger-line {
  width: 40px;
  height: 4px;
  background-color: #1e2744;
  opacity: 0.8;
}

#mobile-hamburger-menu #mobile-header-menu {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  width: 70vw;
  height: 100vh;
  padding-top: 20px;
  background-color: #a0b7a4;
  top: -130vh;
  opacity: 1;
  right: 0;
  z-index: 11;
  min-height: 500px;
}

#mobile-hamburger-menu #mobile-header-menu nav {
  display: -ms-grid;
  display: grid;
}

#mobile-hamburger-menu #mobile-header-menu nav a {
  margin: 2vh 20px;
  color: #ffede1;
  text-decoration: none;
  font-size: 18px;
}

#mobile-hamburger-menu #mobile-header-menu nav .foodMenuNavIndented {
  font-size: 12px;
  margin: 10px 0px 0px 50px;
}

.headerLogo {
  margin: 30px 0;
}

.headerLogo img {
  width: 70vw;
}

.MobileContactPhone {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  position: absolute;
  right: -5px;
  top: 10px;
  width: 120px;
  height: 30px;
  background-color: #ffede1;
  -webkit-box-shadow: -5px 0px 10px #cfc2b1;
          box-shadow: -5px 0px 10px #cfc2b1;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding-right: 10px;
  position: fixed;
  z-index: 10;
}

.MobileContactPhone a {
  font-size: 12px;
  margin-right: 5px;
  color: #e2866d;
}

.MobileContactPhone img {
  width: 20px;
}

.banner img {
  width: 100vw;
  opacity: 70%;
  z-index: -5;
}

.pageContainer {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 600px) {
  .MobileContactPhone {
    width: 230px;
    height: 50px;
    top: 20px;
  }
  .MobileContactPhone img {
    width: 40px;
  }
  .MobileContactPhone a {
    font-size: 24px;
    pointer-events: none;
    text-decoration: none;
  }
  .headerLogo img {
    width: 40vw;
  }
  #mobile-hamburger-menu #mobile-menu-checkbox {
    width: 80px;
    height: 80px;
  }
  #mobile-hamburger-menu #mobile-hamburger-container {
    width: 80px;
    height: 80px;
  }
  #mobile-hamburger-menu #mobile-hamburger-container .mobile-hamburger-line {
    width: 60px;
    height: 6px;
  }
  #mobile-hamburger-menu #mobile-header-menu nav {
    display: -ms-grid;
    display: grid;
    padding-left: 40px;
  }
  #mobile-hamburger-menu #mobile-header-menu nav a {
    font-size: 24px;
  }
  #mobile-hamburger-menu #mobile-header-menu nav .foodMenuNavIndented {
    font-size: 18px;
    margin: 10px 0px 0px 60px;
  }
}

@media only screen and (min-width: 1000px) {
  .mobile-hamburger-line {
    display: none;
  }
  #mobile-menu-checkbox {
    display: none;
  }
  .headerGrid {
    min-height: 170px;
  }
  .headerLogo img {
    width: 150px;
    position: absolute;
    left: 30px;
    top: 20px;
  }
  .desktopNav {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 360px;
    left: 170px;
    top: 60px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: none;
  }
  .desktopNav a {
    font-size: 18px;
  }
  .desktopNav .foodMenuNavIndentedGrid {
    margin: 10px 0px 0px 60px;
    display: none;
  }
  .desktopNav .foodMenuNavIndentedGrid a {
    font-size: 14px;
  }
  .desktopNav #menuHoverDesktop:hover ~ .foodMenuNavIndentedGrid {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 20px;
    display: -ms-grid;
    display: grid;
  }
  .desktopNav .foodMenuNavIndentedGrid:hover {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 20px;
    display: -ms-grid;
    display: grid;
  }
  .colourfulMargin {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 350px;
    height: 1300px;
    background-color: #e2866d99;
    display: block;
  }
}
/*# sourceMappingURL=aboutUs.css.map */