@import "_globals.scss";

@import "_header.scss";

@import "_footer.scss";

@import "hours.scss";

.colourfulMargin {
    display: none;
}

.hr {
    margin: 24px 15% 24px;
}

.locationGrid {
    @include centeredGrid;
    width: 70vw;
    iframe {
        width: 80vw;
        height: 300px;
        margin: 30px 10vw;
        border: $green 8px double;
    }
}

.address {
    text-align: center;
    @include centeredGrid;
    background-color: $green;
    width: 100vw;
    padding-top: 20px;
    img {
        width: 80%;
        margin: 30px 0;
        border: $navy 2px solid;
    }
}

.hoursMenu {
    padding: 6%;
    margin: 0 9%;
}

.citation {
    color: $cream;
    position: relative;
    width: 100px;
    margin-top: -90px;
    margin-left: -70px;
    a {
        color: $cream;
    }
}

@media only screen and (min-width: 600px) {
    .locationGrid {
        margin: 10% 10%;
        width: 80%;
    
    iframe {
        width: 100%;
        padding: 0;
        margin: 0 0 50px;
    }
}
    .address {
        grid-template-columns: 1fr 1fr;
        font-size: 2em;
        .citation {
            margin-right: -1500px;
        }
        img {
            width: 70%;
            max-width: 400px;
            margin-bottom: 20px;
        }
    }
    .citation {
        margin-left: -720px;
        margin-top: -140px;
    }

    .hoursMenu {
        width: 50%;
    }
}

@media only screen and (min-width: 1050px) {
    header {
        margin: 0;
    }

    .hoursMenu {
        width: 350px;
        margin-left: 50px;
    }
    .address {
        .citation {
            margin-right: -2000px;
        }
    }
    .locationGrid {
        grid-template-columns: 1fr 1fr;
        iframe {
            width: 400px;
            height: 386px;
            margin: 30px 0;
        }
    }
}

@media only screen and (min-width: 1100px) {
    .locationGrid {
        margin: 0 15%;
    }
}
