@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Belleza', sans-serif;
  background-color: #ffede1;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', 'sans-serif';
  color: #1e2744;
}

a, p {
  color: #1e2744;
}

.citation {
  position: absolute;
  right: 20px;
  font-size: 8px;
  font-family: 'open-sans', 'sans-serif';
}

.citation a {
  font-weight: bolder;
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  .citation {
    font-size: 12px;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Belleza', sans-serif;
  background-color: #ffede1;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', 'sans-serif';
  color: #1e2744;
}

a, p {
  color: #1e2744;
}

.citation {
  position: absolute;
  right: 20px;
  font-size: 8px;
  font-family: 'open-sans', 'sans-serif';
}

.citation a {
  font-weight: bolder;
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  .citation {
    font-size: 12px;
  }
}

.headerGrid {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.desktopNav {
  display: none;
}

.socialmediaDesktop {
  display: none;
}

.colourfulMargin {
  display: none;
}

#mobile-hamburger-menu {
  margin: -70px -40px 0px 0px;
}

#mobile-hamburger-menu #mobile-menu-checkbox {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
  z-index: 13;
}

#mobile-hamburger-menu #mobile-menu-checkbox:checked ~ #mobile-header-menu {
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#mobile-hamburger-menu #mobile-menu-checkbox:checked ~ #mobile-hamburger-container {
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

#mobile-hamburger-menu #mobile-menu-checkbox:checked ~ #mobile-hamburger-container .mobile-hamburger-line {
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  z-index: 12;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#mobile-hamburger-menu #mobile-menu-checkbox:checked ~ #mobile-hamburger-container .mobile-hamburger-line:nth-child(2) {
  display: none;
}

#mobile-hamburger-menu #mobile-menu-checkbox:checked ~ #mobile-hamburger-container .mobile-hamburger-line:nth-child(3) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-top: -50px;
}

#mobile-hamburger-menu #mobile-hamburger-container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  position: relative;
}

#mobile-hamburger-menu #mobile-hamburger-container .mobile-hamburger-line {
  width: 40px;
  height: 4px;
  background-color: #1e2744;
  opacity: 0.8;
}

#mobile-hamburger-menu #mobile-header-menu {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  width: 70vw;
  height: 100vh;
  padding-top: 20px;
  background-color: #a0b7a4;
  top: -130vh;
  opacity: 1;
  left: 0;
  z-index: 11;
  min-height: 500px;
}

#mobile-hamburger-menu #mobile-header-menu nav {
  display: -ms-grid;
  display: grid;
  margin-left: 30px;
  margin-top: 75px;
}

#mobile-hamburger-menu #mobile-header-menu nav a {
  margin: 2vh 20px;
  color: #ffede1;
  text-decoration: none;
  font-size: 20px;
}

#mobile-hamburger-menu #mobile-header-menu nav .foodMenuNavIndented {
  font-size: 12px;
  margin: 10px 0px 0px 50px;
}

.headerLogo {
  margin: 30px 0;
}

.headerLogo img {
  width: 70vw;
}

.MobileContactPhone {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  position: absolute;
  right: -5px;
  top: 10px;
  width: 120px;
  height: 30px;
  background-color: #ffede1;
  -webkit-box-shadow: -5px 0px 10px #cfc2b1;
          box-shadow: -5px 0px 10px #cfc2b1;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding-right: 10px;
  position: fixed;
  z-index: 10;
}

.MobileContactPhone a {
  font-size: 12px;
  margin-right: 5px;
  color: #e2866d;
}

.MobileContactPhone img {
  height: 20px;
}

.pageContainer {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialmedia {
  position: absolute;
  bottom: 60px;
  left: 25px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialmediaGrid {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.socialmediaGrid img {
  height: 30px;
}

.socialmediaGrid a {
  height: 30px;
  width: 30px;
  margin-bottom: -30px;
  z-index: 15;
}

.emailGrid {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 0;
          column-gap: 0;
  margin-left: -15px;
  margin-top: 10px;
}

.emailGrid img {
  height: 30px;
}

.emailGrid a {
  margin-left: -15px;
}

@media only screen and (min-width: 600px) {
  .MobileContactPhone {
    width: 230px;
    height: 50px;
    top: 20px;
  }
  .MobileContactPhone img {
    height: 40px;
  }
  .MobileContactPhone a {
    font-size: 24px;
    text-decoration: none;
  }
  .MobileContactPhone:nth-child(2) {
    pointer-events: none;
  }
  .headerLogo img {
    width: 40vw;
  }
  #mobile-hamburger-menu #mobile-menu-checkbox {
    width: 80px;
    height: 80px;
  }
  #mobile-hamburger-menu #mobile-hamburger-container {
    width: 80px;
    height: 80px;
  }
  #mobile-hamburger-menu #mobile-hamburger-container .mobile-hamburger-line {
    width: 60px;
    height: 6px;
  }
  #mobile-hamburger-menu #mobile-menu-checkbox:checked ~ #mobile-hamburger-container .mobile-hamburger-line {
    margin-left: -60px;
  }
  #mobile-hamburger-menu #mobile-menu-checkbox:checked ~ #mobile-hamburger-container .mobile-hamburger-line:nth-child(3) {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    margin-top: -80px;
  }
  #mobile-hamburger-menu #mobile-header-menu {
    width: 50vw;
  }
  #mobile-hamburger-menu #mobile-header-menu nav {
    margin-left: 60px;
    margin-top: 100px;
    display: -ms-grid;
    display: grid;
  }
  #mobile-hamburger-menu #mobile-header-menu nav a {
    font-size: 28px;
  }
  #mobile-hamburger-menu #mobile-header-menu nav .foodMenuNavIndented {
    font-size: 20px;
    margin: 10px 0px 0px 60px;
  }
  #mobile-hamburger-menu .socialmediaGrid img {
    height: 50px;
  }
  #mobile-hamburger-menu .socialmediaGrid a {
    height: 50px;
    width: 50px;
    margin-bottom: -50px;
  }
  #mobile-hamburger-menu .emailGrid a {
    font-size: 24px;
  }
  #mobile-hamburger-menu .emailGrid img {
    height: 50px;
  }
}

@media only screen and (min-width: 1000px) {
  header {
    height: 200px;
  }
  .mobile-hamburger-line {
    display: none;
  }
  .MobileContactPhone {
    position: absolute;
  }
  .socialmediaDesktop {
    display: block;
    position: absolute;
    top: 80px;
    right: 20px;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .socialmediaDesktop .socialmediaGrid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    row-gap: 30px;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
  .socialmediaDesktop .socialmediaGrid a {
    margin-right: -100px;
    width: 80px;
    height: 80px;
  }
  #mobile-menu-checkbox {
    display: none;
  }
  .headerGrid {
    min-height: 170px;
  }
  .headerLogo img {
    width: 225px;
    position: absolute;
    left: 30px;
    top: 20px;
  }
  .desktopNav {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 27vw;
    left: 240px;
    top: 70px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: none;
  }
  .desktopNav > a {
    -webkit-transition: 0.2s all ease-in;
    transition: 0.2s all ease-in;
    font-size: 22px;
    text-decoration: none;
  }
  .desktopNav > a:hover {
    color: #e2866d;
  }
  .desktopNav .foodMenuNavIndentedGrid {
    margin: 10px 0px 0px 18%;
    display: none;
  }
  .desktopNav .foodMenuNavIndentedGrid a {
    font-size: 14px;
    padding: 5px;
  }
  .desktopNav #menuHoverDesktop:hover ~ .foodMenuNavIndentedGrid {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 20px;
    display: -ms-grid;
    display: grid;
  }
  .desktopNav .foodMenuNavIndentedGrid:hover {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 20px;
    display: -ms-grid;
    display: grid;
  }
  .colourfulMargin {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 350px;
    height: 1300px;
    background-color: #e2866d99;
    display: block;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Belleza', sans-serif;
  background-color: #ffede1;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', 'sans-serif';
  color: #1e2744;
}

a, p {
  color: #1e2744;
}

.citation {
  position: absolute;
  right: 20px;
  font-size: 8px;
  font-family: 'open-sans', 'sans-serif';
}

.citation a {
  font-weight: bolder;
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  .citation {
    font-size: 12px;
  }
}

footer {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1e2744;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  -webkit-box-shadow: 0px -2px 5px #a0b7a4;
          box-shadow: 0px -2px 5px #a0b7a4;
}

footer p {
  font-size: 12px;
  color: #ffede1;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Belleza', sans-serif;
  background-color: #ffede1;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', 'sans-serif';
  color: #1e2744;
}

a, p {
  color: #1e2744;
}

.citation {
  position: absolute;
  right: 20px;
  font-size: 8px;
  font-family: 'open-sans', 'sans-serif';
}

.citation a {
  font-weight: bolder;
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  .citation {
    font-size: 12px;
  }
}

.hoursMenu {
  width: 70%;
  padding: 5%;
  margin: 20px 0;
  background-color: #1e2744;
  color: #ffede1;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hoursMenu h3 {
  font-size: 24px;
  margin-bottom: 0px;
  color: #ffede1;
}

.hoursMenu hr {
  width: 70%;
  color: #fdf5ed;
  margin: 15px 0;
}

.hoursMenu a {
  color: #ffede1;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

.hoursMenu a:hover {
  color: #e2866d;
}

.hoursMenu a:active {
  color: #e2866d;
}

.hoursMenu .hoursTimesGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.hoursMenu .hoursTimesGrid .dayOfTheWeek {
  -ms-grid-column-align: left;
      justify-self: left;
}

.hoursMenu .hoursTimesGrid .dayOfTheWeek p {
  margin: 10px 0;
  font-size: 12px;
  color: #ffede1;
}

.hoursMenu .hoursTimesGrid .timesOpen {
  -ms-grid-column-align: right;
      justify-self: right;
}

.hoursMenu .hoursTimesGrid .timesOpen p {
  margin: 10px 0;
  font-size: 12px;
  color: #ffede1;
}

@media only screen and (min-width: 600px) {
  .hoursMenu {
    margin: 40px 0;
  }
  .hoursMenu h3 {
    font-size: 36px;
  }
  .hoursMenu a {
    font-size: 24px;
  }
  .hoursTimesGrid {
    font-size: 20px;
  }
}

.colourfulMargin {
  display: none;
}

.hr {
  width: 70%;
  height: 1px;
  background-color: #1e2744;
  margin: 24px 15% 24px;
}

.locationGrid {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70vw;
}

.locationGrid img {
  width: 80%;
  margin: 30px 0;
  border: #1e2744 2px solid;
}

iframe {
  width: 80vw;
  height: 300px;
  margin: 30px 0;
  border: #a0b7a4 5px inset;
}

.address {
  text-align: center;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #a0b7a4cc;
  width: 100vw;
  padding-top: 20px;
}

.hoursMenu {
  padding: 6%;
  margin: 0 9%;
}

.citation {
  color: #ffede1;
  position: relative;
  width: 100px;
  margin-top: -90px;
  margin-left: -70px;
}

.citation a {
  color: #ffede1;
}

@media only screen and (min-width: 600px) {
  .locationGrid {
    -ms-grid-row: 1;
    grid-area: 1fr;
  }
  .locationGrid img {
    width: 70%;
  }
  .address {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    font-size: 2em;
  }
  .citation {
    margin-left: -720px;
    margin-top: -140px;
  }
  .hoursMenu {
    width: 50%;
  }
}
/*# sourceMappingURL=location.css.map */