@import "_globals.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_carousel.scss";

.banner {
    @include centeredGrid;
    img {
        width: 100%;
    }
    h2 {
        font-size: 3em;
        font-family: "Belleza", "sans-serif";
        color: $navy;
        margin-top: 20px;
    }
    .citation {
        color: $green;
        a {
            color: $green;
        }
    }
}

.InnerMenuNavigation {
    @include centeredGrid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 30px 10px 0px;

    .InnerMenuNavigationButton {
        @include centeredGrid;
        background-color: $white;
        height: 90px;
        width: 50px;
        border-radius: 30px;
        // margin: 30px 10px 20px;
        box-shadow: 0px 0px 20px $boxShadow;
        padding: 5px;

        a {
            height: 90px;
            width: 50px;
            position: absolute;
        }

        img {
            width: 40px;
        }
        p {
            font-size: 12px;
            margin-top: -20px;
        }
    }
}
.backArrow {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: chartreuse;
    box-shadow: 0 0 10px $boxShadow;
    position: absolute;
    top: 385px;
    left: 50px;
    @include centeredGrid;
    z-index: 12;

    a {
        width: 25px;
        height: 25px;
        position: absolute;
        z-index: 13;
    }
}
#menuBackArrow {
    width: 18px;
}

//  .upperPageDecoration {
//      height: 400px;
//      width: 100vw;
//      background-color: #a0b7a4;
//      position: absolute;
//      z-index: -50;
//  }
.menuDisplay {
    margin: 20px;

    h2 {
        text-decoration: none;
        margin: 20px 0;
    }
    hr {
        height: 2px;
        background-color: $red;
        margin: 20px 0;
        width: 90%;
    }
}
.menuItemGrid {
    @include centeredGrid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 20px;
}
.menuCard {
    width: 40vw;
    background-color: $navy;
    @include centeredGrid;
    border-radius: 15px;
    .citation {
        margin-top: -50px;
        position: relative;
        width: 60px;
        z-index: 12;
        color: $white;
        font-size: 6px;
         a{
            color: $white;
        }
    }
    h4 {
        color: $green;
        padding-top: 10px;
        font-size: smaller;
        font-family: "open-sans", "sans-serif";
    }
    img {
        width: 30vw;
        padding: 10px;
        z-index: 3;
        border-radius: 20px;
    }
    .menuCardDescription {
        text-align: center;
        padding: 10px;
        p {
            font-size: 12px;
            width: 29vw;
            color: $cream;
        }
    }
    > p {
        color: $green;
        padding-bottom: 20px;
    }
}

@media only screen and (min-width: 600px) {
    .InnerMenuNavigation {
        .InnerMenuNavigationButton {
            border-radius: 100px;
            height: 180px;
            width: 100px;
            a {
                z-index: 10;
                height: 180px;
                width: 100px;
            }
            img {
                width: 80px;
            }
            p {
                font-size: 1.7em;
            }
        }
    }
    .menuDisplay {
        h2 {
            font-size: 2.5em;
            margin: 20px 0px 40px 30px;
        }
    }
    .menuCard {
        h4 {
            font-size: 1.5em;
        }
        .menuCardDescription {
            p {
                font-size: 16px;
            }
        }
        > p {
            font-size: 22px;
        }
    }
}

@media only screen and (min-width: 1000px) {
    #menuBannerDesktop {
        opacity: 45%;
        position: absolute;
        z-index: -5;
    }
    .banner {
        h2 {
            margin-top: 10vw;
        }
        img {
            width: 100vw;
        }
    }
    .InnerMenuNavigation {
        margin-bottom: 12vw;
        .InnerMenuNavigationButton {
            transition: all 0.8s ease-in-out;
            p {
                transition: all 0.5s ease-in-out;
            }
            &:hover {
                background-color: $navy;
                transition: all 0.8s ease-in-out;
                p {
                    color: $white;
                    transition: all 0.8s ease-in-out;
                }
            }
        }
    }

    .menuCard {
        img {
            margin: 10px;
            opacity: 0.6;
            transition: all 0.5s ease-in-out;
        }
        &:hover {
            img {
                opacity: 1;
                transition: all 0.5s ease-in-out;
            }
        }
    }
    .menuItemGrid {
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 30px;
        column-gap: 0;
        .menuCard {
            width: 25vw;
            
            .menuCardDescription {
                p {
                    width: 15vw;
                    padding: 0 0 10px;
                }
            }
            img {
                width: 20vw;
            }
            .citation {
                position: relative;
                font-size: 8px;
                margin-right: -180px;
            }
        }
    }

    .menuCardDescription {
        position: relative;
       margin-top: -20px;
        text-align: center;
        transition: all 1s ease-in;
        p {
            opacity: 0;
            transition: all 0.5s ease-in;
            z-index: 2;
            width: 15vw;
        }
    }
    &:hover > .menuCardDescription {
        // height: 60px;
        transition: all 1s ease-in;
        // top: 0;
        // margin-bottom: 15px;
        p {
            opacity: 1;
        }
    }
    &:hover > .menuCard {
        margin-top: 0;
    }
}
