@import '_globals.scss';
@import '_header.scss';



.InnerMenuNavigation {
    @include centeredGrid;
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    margin: 60px 10px 0px; 
    
.InnerMenuNavigationButton {
    @include centeredGrid;
    background-color: $white;
    height: 90px;
    width: 50px;
    border-radius: 30px;
    // margin: 30px 10px 20px;
    box-shadow: 0px 0px 20px $boxShadow;
    padding: 5px;
    
    a {
        height: 90px;
        width: 50px;
        position: absolute;

    }
    
    img {
        width: 40px;
    }
    p {
        font-size: 12px;
        margin-top: -20px;
    }
}
}
.backArrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 0 0 10px $boxShadow;
    position: absolute;
    top: 380px;
    left: 35px;
    @include centeredGrid;
    
    a {
        width: 40px;
        height: 40px;
        position: absolute;
        
    }
   
  
}
#menuBackArrow {
    width: 30px;
}

//  .upperPageDecoration {
//      height: 400px;
//      width: 100vw;
//      background-color: #a0b7a4;
//      position: absolute;
//      z-index: -50;
//  }