@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Belleza', sans-serif;
  background-color: #ffede1;
  color: #1e2744;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', 'sans-serif';
}

a {
  color: #1e2744;
}

.citation {
  position: absolute;
  right: 20px;
  font-size: 8px;
  font-family: 'open-sans', 'sans-serif';
}

.citation a {
  font-weight: bolder;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Belleza', sans-serif;
  background-color: #ffede1;
  color: #1e2744;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', 'sans-serif';
}

a {
  color: #1e2744;
}

.citation {
  position: absolute;
  right: 20px;
  font-size: 8px;
  font-family: 'open-sans', 'sans-serif';
}

.citation a {
  font-weight: bolder;
  text-decoration: none;
}

.headerGrid {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

#mobile-hamburger-menu {
  margin: -70px -40px 0px 0px;
}

#mobile-hamburger-menu #mobile-menu-checkbox {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
  z-index: 5;
}

#mobile-hamburger-menu #mobile-menu-checkbox:checked ~ #mobile-header-menu {
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#mobile-hamburger-menu #mobile-hamburger-container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  z-index: 4;
  position: relative;
}

#mobile-hamburger-menu #mobile-hamburger-container .mobile-hamburger-line {
  width: 40px;
  height: 4px;
  background-color: #1e2744;
  opacity: .8;
}

#mobile-hamburger-menu #mobile-header-menu {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  width: 70vw;
  height: 100vh;
  padding-top: 20px;
  background-color: #a0b7a4;
  top: -130vh;
  opacity: 1;
  right: 0;
  z-index: 11;
  min-height: 500px;
}

#mobile-hamburger-menu #mobile-header-menu nav {
  display: -ms-grid;
  display: grid;
}

#mobile-hamburger-menu #mobile-header-menu nav a {
  margin: 2vh 20px;
  color: #ffede1;
  text-decoration: none;
  font-size: 18px;
}

#mobile-hamburger-menu #mobile-header-menu nav .foodMenuNavIndented {
  font-size: 12px;
  margin: 10px 0px 0px 50px;
}

.headerLogo {
  margin: 30px 0;
}

.headerLogo img {
  width: 70vw;
}

.MobileContactPhone {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  position: absolute;
  right: -5px;
  top: 10px;
  width: 120px;
  height: 30px;
  background-color: #ffede1;
  -webkit-box-shadow: -5px 0px 10px #cfc2b1;
          box-shadow: -5px 0px 10px #cfc2b1;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding-right: 10px;
  position: fixed;
  z-index: 10;
}

.MobileContactPhone a {
  font-size: 12px;
  margin-right: 5px;
  color: #e2866d;
}

.MobileContactPhone img {
  width: 20px;
}

.banner img {
  width: 100vw;
  opacity: 70%;
  z-index: -5;
}

@media only screen and (min-width: 600px) {
  .MobileContactPhone a {
    pointer-events: none;
    text-decoration: none;
  }
}
/*# sourceMappingURL=reservations.css.map */