@import "_globals.scss";

@import "_header.scss";

@import "_hours.scss";

@import "_footer.scss";

#backgroundIndexPastaImage {
    width: 100vw;
    height: 150vw;
    position: absolute;
    z-index: -2;
}

.homePageImageMenu {
    @include centeredGrid;
}
.citation {
    top: 260px;
    color: $navy;
    right: 20px;

    text-shadow: none;
    a {
        color: $navy;
    }
}
.homePageMargin {
    @include centeredGrid;
    width: 100vw;
    height: 150vw;
    background-color: #e2866d99;
}
.homePageIntroGrid {
    // padding: 10px;
    @include centeredGrid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 80%;
    height: 120vw;

    .introWords {
        width: 150px;
        color: $cream;
        font-size: 18px;
        text-shadow: 1px 1px 4px $red;
        .roundIntroButtons {
            position: absolute;
            right: 50px;
            width: 100px;
            height: 100px;
            margin-top: -15px;
           
        }
    }

    #restaurantIntro {
        text-align: right;
        .roundIntroButtons {
            left: 50px;
        }
    }
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .citation {
        top: 770px;
        right: 50px;
        font-family: "open-sans", "sans-serif";
        // width: 150px;
    }
}

.introArticleTitle {
    @include centeredGrid;
    margin: 30px 20px;
    color: $navy;
    hr {
        margin-top: 30px;
        margin-bottom: -30px;
        width: 70vw;
        height: 1px;
        background-color: $red;
        // margin-bottom: 10px;
    }
}

.freshIngredientsArticle {
    @include centeredGrid;

    img {
        width: 100vw;
    }
    p {
        color: $navy;
        width: 65%;
        margin: 35px 0px;
    }
    .citation {
        position: absolute;
        top: 1400px;
        color: $cream;
        a {
            color: $cream;
        }
    }
}

@media only screen and (min-width: 600px) {
    .homePageImageMenu {
        .citation {
            top: 40vw;
        }
    }
    header {
        width: 75vw;
        justify-self: left;
    }

    .homePageIntroGrid {
        width: 80%;
        height: 130vw;

        .introWords {
            width: 240px;
            font-size: 28px;

            .roundIntroButtons {
                position: absolute;
                right: 120px;
                width: 220px;
                height: 220px;
            }
        }

        #restaurantIntro {
            .roundIntroButtons {
                left: 160px;
            }
        }
        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }

        .citation {
            top: 180vw;
            right: 40px;
            font-family: "open-sans", "sans-serif";
            // width: 150px;
        }
    }

    .freshIngredientsArticle {
        margin-top: 230px;
        grid-template-columns: 1fr 1fr;
        
        p {
            width: 200px;
            font-size: 20px;
        }
        img {
            width: 40vw;
        }

        .introArticleTitle {
            font-size: 24px;
            position: absolute;
            top: 190vw;
            right: 0;
            margin: 0 23vw ;
            width: 54vw;
            hr {
                
                width: 80vw;
                position: absolute;
                margin: 250px 0 80px;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    #backgroundIndexPastaImage {
        width: 20vw;
        height: 30vw;
        // width: 20vw;
        position: absolute;
        right: 15vw;
        top: 200px;
        border-radius: 200px;
        z-index: 6;
        border: $navy 5px solid;
        max-height: 500px;
        max-width: 333.333333px;
    }
// .citation {
//     top: 230px;
//         right: 270px;
//         color: chartreuse;
//         z-index: 7;
//         width: 80px;
//         font-size: 10px;
//         a {
//             color: $cream;
//         }
// }
    .homePageImageMenu {
        display: inline-block;
        .citation {
            top: 230px;
            right: 22vw;
            color: $cream;
            z-index: 7;
            width: 80px;
            font-size: 10px;
            a {
                color: $cream;
            }
        }
    }
    .homePageMargin {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 25vw;
        height: 1300px;
    //     opacity: 0;
    }
    .homePageIntroGrid {
        position: absolute;
        // left: 250px;
        width: 30vw;
        height: 500px;
        top: 220px;
        right: 60vw;
        z-index: 100;
        column-gap: 5vw;
        .introWords {
            color: $navy;
            text-shadow: none;
            width: 180px;
            .roundIntroButtons {
                
                left: 280px;
                width: 150px;
                height: 150px;
                margin-top: -40px;
               
            }}
            #restaurantIntro {
                
                .roundIntroButtons {
                    left: 50px;
                }
            }
        
        img {
            width: 150px;
            height: 150px;
            border: $red 5px solid;
        }
        .citation {
            top: 520px;
            right: 0px;
            font-family: "open-sans", "sans-serif";
            color: $navy;
            width: 200px;

            a {
                color: $navy;
            }
            
        }
       
    }
  
    .freshIngredientsArticle {
        
        margin: 800px 0 100px -470px;
        grid-template-columns: 1fr 1fr;
        width: 40vw;
        
        
        p {
            width: 200px;
            font-size: 20px;
        }
        img {
            width: 300px;
            margin-left: 40px;
        }

        .introArticleTitle {
            font-size: 24px;
            position: absolute;
            top: 800px;
            right: 0;
            margin: 0 40vw 0 10vw;
            width: 50vw;
            hr {
                
                width: 60vw;
                position: absolute;
                margin: 250px 0 80px;
            }
        }
        .citation {
            position: absolute;
            left: 35vw;
            top: 950px;
            color: $cream;
            font-size: 8px;
            width: 100px;
            a {
                color: $cream;
            }}
    }
    .hoursMenu {
        background-color: $navy;
        width: 25vw;
        height: 590px;
        z-index: 5;
        position: absolute;
        right: 0px;
        top: 720px;
        padding: 25px 0;
        a {
            margin: 40px 10px;
        }
        h3 {
            margin: 30px 0;
          
        }
    }
    footer {
        margin-top: 0;
    }
}
