@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Belleza', sans-serif;
  background-color: #ffede1;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', 'sans-serif';
}

a {
  color: #1e2744;
}

.citation {
  position: absolute;
  right: 20px;
  font-size: 8px;
  font-family: 'open-sans', 'sans-serif';
}

.citation a {
  font-weight: bolder;
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  .citation {
    font-size: 12px;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Belleza', sans-serif;
  background-color: #ffede1;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', 'sans-serif';
}

a {
  color: #1e2744;
}

.citation {
  position: absolute;
  right: 20px;
  font-size: 8px;
  font-family: 'open-sans', 'sans-serif';
}

.citation a {
  font-weight: bolder;
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  .citation {
    font-size: 12px;
  }
}

.headerGrid {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.desktopNav {
  display: none;
}

#mobile-hamburger-menu {
  margin: -70px -40px 0px 0px;
}

#mobile-hamburger-menu #mobile-menu-checkbox {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
  z-index: 5;
}

#mobile-hamburger-menu #mobile-menu-checkbox:checked ~ #mobile-header-menu {
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#mobile-hamburger-menu #mobile-hamburger-container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  z-index: 4;
  position: relative;
}

#mobile-hamburger-menu #mobile-hamburger-container .mobile-hamburger-line {
  width: 40px;
  height: 4px;
  background-color: #1e2744;
  opacity: 0.8;
}

#mobile-hamburger-menu #mobile-header-menu {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  width: 70vw;
  height: 100vh;
  padding-top: 20px;
  background-color: #a0b7a4;
  top: -130vh;
  opacity: 1;
  right: 0;
  z-index: 11;
  min-height: 500px;
}

#mobile-hamburger-menu #mobile-header-menu nav {
  display: -ms-grid;
  display: grid;
}

#mobile-hamburger-menu #mobile-header-menu nav a {
  margin: 2vh 20px;
  color: #ffede1;
  text-decoration: none;
  font-size: 18px;
}

#mobile-hamburger-menu #mobile-header-menu nav .foodMenuNavIndented {
  font-size: 12px;
  margin: 10px 0px 0px 50px;
}

.headerLogo {
  margin: 30px 0;
}

.headerLogo img {
  width: 70vw;
}

.MobileContactPhone {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  position: absolute;
  right: -5px;
  top: 10px;
  width: 120px;
  height: 30px;
  background-color: #ffede1;
  -webkit-box-shadow: -5px 0px 10px #cfc2b1;
          box-shadow: -5px 0px 10px #cfc2b1;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding-right: 10px;
  position: fixed;
  z-index: 10;
}

.MobileContactPhone a {
  font-size: 12px;
  margin-right: 5px;
  color: #e2866d;
}

.MobileContactPhone img {
  width: 20px;
}

.banner img {
  width: 100vw;
  opacity: 70%;
  z-index: -5;
}

.pageContainer {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 600px) {
  .MobileContactPhone {
    width: 230px;
    height: 50px;
    top: 20px;
  }
  .MobileContactPhone img {
    width: 40px;
  }
  .MobileContactPhone a {
    font-size: 24px;
    pointer-events: none;
    text-decoration: none;
  }
  .headerLogo img {
    width: 40vw;
  }
  #mobile-hamburger-menu #mobile-menu-checkbox {
    width: 80px;
    height: 80px;
  }
  #mobile-hamburger-menu #mobile-hamburger-container {
    width: 80px;
    height: 80px;
  }
  #mobile-hamburger-menu #mobile-hamburger-container .mobile-hamburger-line {
    width: 60px;
    height: 6px;
  }
  #mobile-hamburger-menu #mobile-header-menu nav {
    display: -ms-grid;
    display: grid;
    padding-left: 40px;
  }
  #mobile-hamburger-menu #mobile-header-menu nav a {
    font-size: 24px;
  }
  #mobile-hamburger-menu #mobile-header-menu nav .foodMenuNavIndented {
    font-size: 18px;
    margin: 10px 0px 0px 60px;
  }
}

@media only screen and (min-width: 1000px) {
  .mobile-hamburger-line {
    display: none;
  }
  #mobile-menu-checkbox {
    display: none;
  }
  .headerGrid {
    min-height: 170px;
  }
  .headerLogo img {
    width: 150px;
    position: absolute;
    left: 30px;
    top: 20px;
  }
  .desktopNav {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 360px;
    left: 170px;
    top: 60px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: none;
  }
  .desktopNav a {
    font-size: 18px;
  }
  .desktopNav .foodMenuNavIndentedGrid {
    margin: 10px 0px 0px 60px;
    display: none;
  }
  .desktopNav .foodMenuNavIndentedGrid a {
    font-size: 14px;
  }
  .desktopNav #menuHoverDesktop:hover ~ .foodMenuNavIndentedGrid {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 20px;
    display: -ms-grid;
    display: grid;
  }
  .desktopNav .foodMenuNavIndentedGrid:hover {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 20px;
    display: -ms-grid;
    display: grid;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Belleza', sans-serif;
  background-color: #ffede1;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', 'sans-serif';
}

a {
  color: #1e2744;
}

.citation {
  position: absolute;
  right: 20px;
  font-size: 8px;
  font-family: 'open-sans', 'sans-serif';
}

.citation a {
  font-weight: bolder;
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  .citation {
    font-size: 12px;
  }
}

.hoursMenu {
  width: 70%;
  padding: 5%;
  margin: 20px 0;
  background-color: #1e2744;
  color: #ffede1;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hoursMenu h3 {
  font-size: 24px;
  margin-bottom: 0px;
}

.hoursMenu hr {
  width: 70%;
  color: #fdf5ed;
  margin: 15px 0;
}

.hoursMenu a {
  color: #ffede1;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

.hoursMenu a:hover {
  color: #e2866d;
}

.hoursMenu a:active {
  color: #e2866d;
}

.hoursMenu .hoursTimesGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.hoursMenu .hoursTimesGrid .dayOfTheWeek {
  -ms-grid-column-align: left;
      justify-self: left;
}

.hoursMenu .hoursTimesGrid .dayOfTheWeek p {
  margin: 10px 0;
}

.hoursMenu .hoursTimesGrid .timesOpen {
  -ms-grid-column-align: right;
      justify-self: right;
}

.hoursMenu .hoursTimesGrid .timesOpen p {
  margin: 10px 0;
}

@media only screen and (min-width: 600px) {
  .hoursMenu {
    margin: 40px 0;
  }
  .hoursMenu h3 {
    font-size: 36px;
  }
  .hoursMenu a {
    font-size: 24px;
  }
  .hoursTimesGrid {
    font-size: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Belleza', sans-serif;
  background-color: #ffede1;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', 'sans-serif';
}

a {
  color: #1e2744;
}

.citation {
  position: absolute;
  right: 20px;
  font-size: 8px;
  font-family: 'open-sans', 'sans-serif';
}

.citation a {
  font-weight: bolder;
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  .citation {
    font-size: 12px;
  }
}

footer {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1e2744;
  height: 40px;
  width: 100%;
  position: absolute;
}

footer p {
  font-size: 12px;
  color: #ffede1;
}

#backgroundIndexPastaImage {
  width: 100vw;
  height: 150vw;
  position: absolute;
  z-index: -2;
}

.homePageImageMenu {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.citation {
  top: 260px;
  color: #1e2744;
  right: 20px;
  text-shadow: none;
}

.citation a {
  color: #1e2744;
}

.homePageMargin {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 150vw;
  background-color: #e2866d99;
}

.homePageIntroGrid {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  width: 80%;
  height: 120vw;
}

.homePageIntroGrid .introWords {
  width: 150px;
  color: #ffede1;
  font-size: 18px;
  text-shadow: 1px 1px 4px #e2866d;
}

.homePageIntroGrid .introWords .roundIntroButtons {
  position: absolute;
  right: 50px;
  width: 100px;
  height: 100px;
  margin-top: -15px;
}

.homePageIntroGrid #restaurantIntro {
  text-align: right;
}

.homePageIntroGrid #restaurantIntro .roundIntroButtons {
  left: 50px;
}

.homePageIntroGrid img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.homePageIntroGrid .citation {
  top: 770px;
  right: 50px;
  font-family: "open-sans", "sans-serif";
}

.introArticleTitle {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 20px;
  color: #1e2744;
}

.introArticleTitle hr {
  margin-top: 30px;
  margin-bottom: -30px;
  width: 70vw;
  height: 1px;
  background-color: #e2866d;
}

.freshIngredientsArticle {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.freshIngredientsArticle img {
  width: 100vw;
}

.freshIngredientsArticle p {
  color: #1e2744;
  width: 65%;
  margin: 35px 0px;
}

.freshIngredientsArticle .citation {
  position: absolute;
  top: 1400px;
  color: #ffede1;
}

.freshIngredientsArticle .citation a {
  color: #ffede1;
}

@media only screen and (min-width: 600px) {
  .homePageImageMenu .citation {
    top: 40vw;
  }
  .homePageIntroGrid {
    width: 80%;
    height: 130vw;
  }
  .homePageIntroGrid .introWords {
    width: 240px;
    font-size: 28px;
  }
  .homePageIntroGrid .introWords .roundIntroButtons {
    position: absolute;
    right: 120px;
    width: 220px;
    height: 220px;
  }
  .homePageIntroGrid #restaurantIntro .roundIntroButtons {
    left: 160px;
  }
  .homePageIntroGrid img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .homePageIntroGrid .citation {
    top: 180vw;
    right: 40px;
    font-family: "open-sans", "sans-serif";
  }
  .freshIngredientsArticle {
    margin-top: 230px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .freshIngredientsArticle p {
    width: 200px;
    font-size: 20px;
  }
  .freshIngredientsArticle img {
    width: 40vw;
  }
  .freshIngredientsArticle .introArticleTitle {
    font-size: 24px;
    position: absolute;
    top: 190vw;
    right: 0;
    margin: 0 23vw;
    width: 54vw;
  }
  .freshIngredientsArticle .introArticleTitle hr {
    width: 80vw;
    position: absolute;
    margin: 250px 0 80px;
  }
}

@media only screen and (min-width: 1000px) {
  #backgroundIndexPastaImage {
    width: 20vw;
    height: 30vw;
    position: absolute;
    right: 230px;
    top: 200px;
    border-radius: 200px;
    z-index: 6;
    border: #1e2744 5px solid;
  }
  .homePageImageMenu {
    display: inline-block;
  }
  .homePageImageMenu .citation {
    top: 230px;
    right: 270px;
    color: #ffede1;
    z-index: 7;
    width: 80px;
    font-size: 10px;
  }
  .homePageImageMenu .citation a {
    color: #ffede1;
  }
  .homePageMargin {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 350px;
    height: 1415px;
  }
  .homePageIntroGrid {
    position: absolute;
    width: 200px;
    height: 500px;
    top: 200px;
    right: 70vw;
    z-index: 100;
  }
  .homePageIntroGrid .introWords {
    color: #1e2744;
    text-shadow: none;
    width: 180px;
  }
  .homePageIntroGrid .introWords .roundIntroButtons {
    left: 280px;
    width: 150px;
    height: 150px;
    margin-top: -40px;
  }
  .homePageIntroGrid #restaurantIntro .roundIntroButtons {
    left: 50px;
  }
  .homePageIntroGrid img {
    width: 150px;
    height: 150px;
    border: #e2866d 5px solid;
  }
  .homePageIntroGrid .citation {
    top: 500px;
    right: 0px;
    font-family: "open-sans", "sans-serif";
    color: #1e2744;
    width: 200px;
  }
  .homePageIntroGrid .citation a {
    color: #1e2744;
  }
  .freshIngredientsArticle {
    margin: 800px 0 100px -470px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 40vw;
  }
  .freshIngredientsArticle p {
    width: 200px;
    font-size: 20px;
  }
  .freshIngredientsArticle img {
    width: 300px;
    margin-left: 40px;
  }
  .freshIngredientsArticle .introArticleTitle {
    font-size: 24px;
    position: absolute;
    top: 800px;
    right: 0;
    margin: 0 40vw 0 10vw;
    width: 50vw;
  }
  .freshIngredientsArticle .introArticleTitle hr {
    width: 60vw;
    position: absolute;
    margin: 250px 0 80px;
  }
  .freshIngredientsArticle .citation {
    position: absolute;
    top: 980px;
    left: 330px;
    color: #ffede1;
    font-size: 8px;
    width: 100px;
  }
  .freshIngredientsArticle .citation a {
    color: #ffede1;
  }
  .hoursMenu {
    background-color: #1e2744;
    width: 324px;
    height: 600px;
    z-index: 5;
    position: absolute;
    right: 0px;
    top: 720px;
    padding: 25px 13px;
  }
  .hoursMenu a {
    margin: 40px 0;
  }
  .hoursMenu h3 {
    margin: 30px 0;
  }
}
/*# sourceMappingURL=style.css.map */